.App {
  text-align: center;
}

.container{
	padding-bottom: 20px
}

.main_menu{
	padding-left: 20px;
	padding-right: 20px
}
.form{
	padding-top: 100px
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face{
	font-family: BadassMoon;
	src: url(font/BadassMoon.ttf);
}

.mr-auto.navbar-nav{
	padding: 10px
}

.navbar-nav button{
	margin-left: 10px;
	margin-bottom: 10px
}

.main_menu{background: white}

/*********CONTENIDO************/

.section_tittle.text-center img{
	width: 50px
}
.paciente{
	border: 1px solid rgba(0,0,0,.125) !important;
	margin-top:5px;
	padding-top:5px;
	padding-bottom: 5px
}

.paciente .btn_2{
	margin-top:10px;
	margin-bottom: 10px
}
.paciente .single_blog_text{
	text-align: center
}
.card{
	background-color: rgba(250, 250, 250, 0.8) !important;
	margin-bottom: 10px
}
.contenido{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.account{
	background-color: #343a40;
	padding-top: 30px;
	padding-bottom: 30px
}
	
.contenido button img {
	height: 20px !important; 
	margin-right: 5px
}
.desayuno .card,
.almuerzos .card,
.sandwitch .card{
	width: calc(33% - 10px); 
	margin-right:10px;
	margin-top: 10px;
}


.desayuno .card img,
.almuerzos .card img,
.sandwitch .card img{
	height: 100px; 
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px}
	
.btn.btn-primary{
	margin-left: auto;
	margin-right: auto}

.form-ingreso{
	border: 1px solid rgba(0,0,0,.125);
	padding:10px}

.tabs img{
	height: 20px;
	margin-right: 5px}

.contenido h1 img{width: 40px}

.titulo{
	font-family: BadassMoon;
	font-size: 7rem !important;
	text-align: center;
}

.no-contenido{
	font-family: BadassMoon;
	font-size: 7rem !important;
	text-align: center;

}

.no-contenido.dark .agregar{
	margin-bottom: -60px
}

.no-contenido.dark .agregar a.agregar {
	text-transform: uppercase; 
    background: transparent;
    border: none;
}

.no-contenido.dark .agregar a.agregar:focus{
	outline: none
}

.no-contenido.dark .agregar a.agregar img{
	height: 74px !important;
}

.btn.btn-primary img, a.btn_2 img{
	height: 20px;
	margin-right: 5px
}

.form-ingreso .btn.btn-primary{
	margin-right: 10px;
	margin-top:10px;
	margin-left: initial;
}

.buttons{
	display: flex;
	justify-content: center;
}
.spinnerP{
	text-align: center; 
	margin-top: 15px;
	font-family: BadassMoon;
	font-size: 5rem;
	
}
.spinnerP .spinner{margin: 0px auto;}

.spinnerP img {height: 40px; margin-right: 5px}

.ubicacion{width: 100%; display: inline-block !important; background: transparent !important; border: none !important}

.ubicacion img{width: 20%; float: left;}

.ubicacion .card-body{width: 80%;float: right;}

.ubicacion .card-body .texto{width: 80%; float: left; text-align: center}

.ubicacion .card-body .card-title{font-family: BadassMoon;
	font-size: 5rem}

.ubicacion .card-body .card-text{
	font-size: 2rem}

.ubicacion .card-body img{width: 20%; float: right;}

.form-ingreso{
	background-color: #343a40; 
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border: none !important}

.no-contenido.dark{
	background-color: #343a40; 
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border: none !important;
	color:white}


.precio{
	font-size:1.35em
}

.precio img, .badge img{
	height: 25px !important;
	width: 25px !important;
	margin-top: 0 !important;
	margin-right: 5px !important
}

.descripcion{
	font-size:0.8rem
}

.badge{
	margin-left: 5px
}

.alert.seleccion{
	float: left;
    width: auto !important;
    height: min-content;
    margin-top: 5px !important;
    width: fit-content !important;
    position: absolute !important;
    margin-top: 5px;
    right: 10px;
	bottom: 10px;
	left: initial !important;
	margin-bottom: 0 !important
}

.alert img{
	height: 20px;
	width: 20px;
	margin-right: 5px
}



.total .btn img{
	height: 20px;
	width: 20px;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important


}

.titulo h2{
	margin-top:20px !important
}

.error{
	position: absolute !important;
	bottom: 0;
	right: 23px;
}

tr img, label img, .single_blog_text p img, p img{
	width: 20px;
	margin-right: 5px
}

.hg100{
	height: 100% !important;
}

@media (max-width: 991px){
	.busqueda a.btn_2 {
		margin-top:5px
	}
}

@media (max-width: 991px){
	.paciente{
		margin-left:5px;
		margin-right: 5px
	}
}	

.mr-auto.navbar-nav{
	margin-left: auto;
	font-size: 18px
}

@media (max-width: 991px){
	.division{
		display:none !important
	}
}

@media (max-width: 991px){
	.dropdown .dropdown-menu .dropdown-item{
		color: #4cb2b1 !important
	}

}	
.dropdown-menu{
	background: white !important
}

.dropdown .dropdown-menu .dropdown-item{
	color: #4cb2b1 !important
}

@media (max-width: 991px){
	.breadcrumb_part, .breadcrumb_part .breadcrumb_iner{
		height: 122px !important
	}
}	

.landing{
	margin-bottom: 100px
}

.nav-link:not(.division){
	color: #4cb2b1 !important
}

.plaza{
	color: #4cb2b1 !important;
	font-style: italic
}
.dento{
	color: #a5a4a8 !important;
	font-style: italic

}

.explicacion{
    opacity: .5;
    display: flex;
	justify-content: center;
	margin-bottom: 10px
}

label .input-explicacion{
    opacity: .5;
}

span.Completo{
	background: #008a00;
    color: #fff !important;
}

span.Incompleto{
	background: #fff6ef;
	color: red !important;
	box-shadow: inset 0 0 0 0.5px red;
}

.status span{
    border-radius: 4px;
    font-weight: 500 !important;
    border-radius: 4px;
	padding: 6px !important;}

.status{text-align: center}

td .btn_2{
	margin: 0 5px 0 5px !important;
	padding: 5px !important;
	display: inline !important; 
}

td.acciones{
	text-align: center !important
}
	
/*********LOGIN************/
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);



.fondo{
	position: absolute;
	top: -20px;
	left: 0px;
	right: 0px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: -1;
}

.grad{
	position: absolute;
	top: -20px;
	left: 0px;
	right: 0px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: -1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	z-index: 2;
}

.header div{
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

@media (min-width: 992px){
.header.col-lg-6 div {
	float: right;
}
}



.header div span{
	color: #4cb2b1 !important;
}


.login{
	position: absolute;
	top: calc(50% - 75px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}